:root {
  --primary-color: #698474;
  --secondary-color: #eeedbe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 56px auto !important;
  background-color: #ffd3b6 !important;
}

h1 {
  font-size: 120px !important;
}

h2 {
  font-size: 90px !important;
}

.summary {
  font-size: 30px !important;
  color: #fcf8f3;
}

.welcome {
  font-family: 'Pacifico', cursive;
  color: #ffaaa5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 25px white,
    0 0 35px white, 0 0 50px #fcf8f3, 0 0 75px #fcf8f3, 0 0 100px #fcf8f3,
    0 0 150px #fcf8f3;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
}

h4 {
  font-size: 48px !important;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  border-radius: 4px;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 40px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.about-titles {
  font-size: 30px !important;
  margin-top: 80px;
}

@media (max-width: 576px) {
  h1{
    font-size: 52px !important;
  }
  h2,
  .about-titles {
    font-size: 24px !important;
  }
  h4 {
    font-size: 24px !important;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .not-important {
    display: none;
  }
  .more-work-link {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
