:root {
  --primary-color: #698474;
  --secondary-color: #fcf8f3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Pacifico", cursive;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Work Sans', sans-serif !important;
}

h1 {
  color: #ffaaa5;
  font-size: 120px !important;
  font-family: var(--heading-font);
}

h2 {
  font-size: 30px !important;
  color: #fcf8f3;
}

h3 {
  color: var(--primary-color);
}

p{
  line-height: 1.5;
  font-size: 20px;
}

nav ul{
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
}

nav li.active a, nav a:hover{
  color: white;
}

nav li{
  padding: 10px;
}

.nav-bar {
  background-color: var(--primary-color);
  width: 100%;
  margin: 0;
  padding: 5px;
}

nav a {
  color: rgba(255, 255, 255, 0.7);
}

nav ul{
  margin: 0;
}

.logo{
  max-height: 40px;
}

.hero {
  background-color: #ffd3b6;
  margin-bottom: 56px;
}

.welcome {
  color: #ffaaa5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 25px white, 0 0 35px white,
    0 0 50px #fcf8f3, 0 0 75px #fcf8f3, 0 0 100px #fcf8f3, 0 0 150px #fcf8f3;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.navigation-links a {
  margin: 0 20px;
}

a {
  text-decoration: none;
}

.learn-more{
  border-style: solid;
  border-color: #ffaaa5;
  border-radius: 6px;
  padding: 15px 0;
  box-shadow: var(--box-shadow);
  font-size: 25px;
  color: #ffaaa5;
}

.arrow{
  padding-left: 7px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  border-radius: 4px;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
}

.say-hello {
  display: block;
}

.content{
  margin-top: 10px;
}

.subheader{
  font-size: 40px !important;
  color: #698474;
  padding: 20px;
}

.contact-container{
  background-color: rgb(105, 132, 116, .7);
  border-radius: 6px;
  padding: 15px 0;
  margin: 10px 0;
}

.contact-container h3{
  color: white;
}

.contact-link {
  background-color: rgb(255, 255, 255, 0.9);
  color: #698474;
  box-shadow: var(--box-shadow);
  padding: 20px 15px;
  border-radius: 4px;
}

a:hover{
  text-decoration: none !important;
}

.contact-link:hover{
  color: #ffaaa5;
}

.primary-link:hover{
  color: var(--secondary-color);
}

.secondary-link:hover{
  color: white;
}

.learn-more:hover {
  background-color: #ffaaa5;
  color: white !important;
}

@media (max-width: 812px) {
  h1 {
    font-size: 72px !important;
    text-align: center;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
    text-align: center;
    padding: 0 20px;
  }
  p{
    font-size: 18px;
    text-align: center;
  }
  .learn-more{
    font-size: 18px;
    padding: 5px 0;
  }
}
